.headercontainer {
  width: 100%;
  margin-top: auto;
  overflow: hidden;
}
.headercontainer img {
  width: 1535px;
  height: 710px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #3ce1d0;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

.left::after {
  margin-top: 80px;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  margin-top: 80px;
  left: -13px;
}

/* The actual content */
.content {
  margin-top: 80px;
  padding: 20px 30px;
  background-color: #f4f9f9;
  position: relative;
  border-radius: 6px;
}

.ui.secondary.pointing.menu {
  background-color: #ffffff;
  margin-bottom: auto;
  height: 70px;
}

.ui.secondary.pointing.menu .item {
  color: #80abbc;
  font-size: 25px;
}
